#container {
  padding: 1rem;
  background-color: gray;
  position: relative;
  height: 1000px;

}

div {
  font-weight: 600;
  padding: 0.5rem;
  font-size: 1.1em;
  width: 150px;
  height: 150px;
  box-shadow: 7px 7px 0 0 #000;
}

.div-1 {
  background: orange;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  display: none;
}
.div-2 {
  background: tomato;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 20;
}
.div-3 {
  background: teal;
  position: relative;
  top: 10px;
  left: 10px;
  z-index: 40;
  height: 800px;
}
.div-4 {
  width: 80px;
  height: 80px;
  background-color: violet;
  position: sticky;
  top: 30px;
  z-index: 100;
}
